<div class="row">
  <div class="col-md-6">
    <form (ngSubmit)='submitForm()'>
        <div class="forms">
            <div class="form-group">
              <label for="quote">QUOTE</label>
              <input  type="text" name="user" [(ngModel)]="this.newQuote.quote" class="form-control"  placeholder="Enter Quote">
            </div>
      
            <div class="form-group">
              <label for="exampleInputPassword1">Author</label>
              <input type="text" class="form-control" name="author" id="author" placeholder="Author">
            </div>
          </div>
          <button class="btn btn-outline-primary" id="submit" type="submit" name="button">  <i class="fa fa-telegram"></i> Send Quote</button>

        </form>
    
  </div>

  <div class="col-md-6">

    <app-quote ></app-quote>

  </div>
  
</div>
<app-moving></app-moving>