<div class="row">
  <div class="col-md-6">
    <div class="forms">
      <div class="form-group">
        <label for="quote"><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSHAoSmuOZBAyvjWCB6UnbWPmXLUa_UWNOaPEK23TiQPW30mUT-ag" height="60px">UOTE</label>
        <input type="text" class="form-control" id="exampleInputPassword1" placeholder="Enter Quote">
      </div>

      <div class="form-group">
        <label for="exampleInputPassword1">Date</label>
        <input type="date" class="form-control" id="date" placeholder="dd/mm/yyyy">
      </div>

      <div class="form-group">
        <label for="exampleInputPassword1">Password</label>
        <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
      </div>
    </div>
    <button class="btn btn-outline-primary" type="button" name="button">Submit</button>
  </div>

  <div class="col-md-6">

  </div>
</div>
